.fade-enter-active, .fade-leave-active{ transition: all .3s }
.fade-enter, .fade-leave-to{ opacity: 0 }

.h-app{
    min-height: 60vh;
}

.underline{
    text-decoration: underline;
}

.uppercase{
    text-transform: uppercase;
}

.list-style-none{
    list-style: none;
}

.side-icon{
    transition: all ease .3s;
}

.rotate-180{
    transform: rotate(180deg);
}

.formulate-input .formulate-input-element {
    max-width: none !important;
}

.list-style-none > .nav-item > .nuxt-link-exact-active,
.list-style-none > .nav-item > .custom-link-active{
    background-color: #022c43;
    color: #f8fafc;
    /* margin: 10px; */
    border-radius: .25rem;
}

.m-0-10{
    margin: 0 10px;
}

.navbar-nav > .nav-item > .nuxt-link-exact-active{
    color: #fff !important;
}

/* .nav-link .nuxt-link-exact-active{
    padding: .5rem 0
} */

.form-control:disabled{
    background-color: #e9ecef !important;
}

.bpi-blockquote{
    padding-left: 5%;
}

.bpi-blockquote p{
    font-style: italic;
    font-weight: 400;
    line-height: 1.6;
    border-left: 3px solid var(--bpi-yellow);
    padding-left: .75rem;
}
